@import "tailwindcss";

@theme {
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Playfair Display", ui-serif, Georgia, serif;
  --color-qb-orange: #ff7a00;
  --color-qb-dark: #1a1a1a;
  --color-qb-muted: #f5f5f5;
  --color-qb-green: #4caf50;
}

body {
  font-family: var(--font-sans);
}

@font-face {
  font-family: "Kaushan";
  src: url("../public/KaushanScript-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Dirty";
  src: url("../public/Dirty Brush.ttf") format("truetype");
}